// Fonts
$font_regular: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$font_light: 'OpenSans-Light', Arial, Helvetica, sans-serif;
$font_semibold: 'OpenSans-Semibold', Arial, Helvetica, sans-serif;
$font_bold: 'OpenSans-Bold', Arial, Helvetica, sans-serif;

// Colors
$primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Messures

// Breakpoints
$mobile-portrait: 320px;
$mobile-lanscape: 530px;
$tablet-portrait: 700px;
$tablet-lanscape: 830px;
$desktop: 1000px;

$mp: $mobile-portrait;
$ml: $mobile-lanscape;
$tp: $tablet-portrait;
$tl: $tablet-lanscape;
$d: $desktop;