extends ../templates/main-template

block title
    -var project = {name: 'JavaScript Esencial', section: ' Bucle do while'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
block content
    .page
        .container
            h2.page__title  Bucle do while
block other-scripts
    script(src='js/bucle-do-while.js')