extends ../templates/main-template

block title
    -var project = {name: 'JavaScript Esencial', section: 'Variables'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
block content
    .page
        .container
            h2.page__title Variables
block other-scripts
    script(src='js/variables.js')